# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Java
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de upload
uploads/
*.tmp
